__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
.coverage
.coverage.*
.cache
pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.swp

# dotenv environment file
.env
